<h1>Find your perfect Hiding Space</h1>
  <div class='search-bar'>
    <%= form_with url: listings_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find the perfect hiding place"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  </div>

<div class="flex-container">
  <div class="listcardz">
    <% @listings.each do |listing| %>
    <div class="list-card">
      <div>
        <% listing.photos.each do |photo| %>
        <%= cl_image_tag photo.key, alt: "Listing img", height:300, width:300 %>
        <% end %>

          <div class="listing-card">
            <p><strong><%= listing.name %></strong> <br> <%= listing.description %></p>
            <p>  <strong><p><%= listing.price %>€</strong></p> </p>
          </div>
      </div>
    </div>

  <% end %>
  </div>

<<<<<<< HEAD
    <div data-controller="map"
        id="map"
        style='width: 700px; height: 700px;'
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
<<<<<<< HEAD
=======

</div>
>>>>>>> 3ef6073cd90876ba12209fccf583bc7bc73c324c

</div>
=======
  <div data-controller="map"
    id="map"
      style='width: 700px; height: 700px;'
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
>>>>>>> 391d4bb578387de4fa6ed882075a94aac0c34025
