<h1>Find your perfect Hiding Space</h1>
<% @listings.each do |listing| %>
  <div class = "list-card">
    <ul>
    <%# <li><%= cl_image_tag listing.images.key, alt: "listing photo" %></li>
    <% listing.photos.each do |photo| %>
    <%= cl_image_tag photo.key, alt: "Listing img", height:300, width:400 %>
    <% end %>
    <li><%= listing.name %></li>
    <li><%= listing.description %></li>
    <li><%= listing.price %></li>
    </ul>
  </div>
<% end %>
