<h1>Find your perfect Hiding Space</h1>

<div class="flex-container">
  <div class="listcardz">
  <% @listings.each do |listing| %>
    <div class="list-card">
      <div>
        <% listing.photos.each do |photo| %>
        <%= cl_image_tag photo.key, alt: "Listing img", height:300, width:300 %>
        <% end %>


          <div class="d-flex justify-content-between px-3 pt-3">
            <p><strong><%= listing.name %></strong> <br> <%= listing.description %></p>
            <p>  <strong><p><%= listing.price %>€</strong></p> </p>
          </div>
      </div>
    </div>

  <% end %>
  </div>

    <div data-controller="map"
        id="map"
        style='width: 700px; height: 700px;'
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
<<<<<<< HEAD
=======

</div>
>>>>>>> 3ef6073cd90876ba12209fccf583bc7bc73c324c

</div>
