
<div class="container">
<h1>Upload your hiding place</h1>
  <%= simple_form_for [@listing] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: ["Indoor", "Outdoor", "Private", "Public"] %>
    <%= f.input :price %>
    <%= f.input :image, as: :file %>
    <%= f.input :description %>
    <%= f.submit "buttonText", class:"blue-button"%>
  <% end %>
</div>
