<div class="container">
  <div class="show-listing-card ">
    <h1><%= @listing.name.capitalize %></h1>
      <% @listing.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "Listing img", height:300, width:400 %>
      <% end %>
    <div class="d-flex justify-content-between px-3 pt-3">
      <p><%= @listing.description.capitalize %>
      <br><%= @listing.category %></p>
      <p><%= @listing.price %>€/day</p>
      <p><%= @listing.rating %></p>
    </div>
    <div class="text-center">
      <%= link_to "Book this Listing", new_listing_booking_path(@listing), class: "light-button" %>
      <% if policy(@listing).edit? %>
        <%= link_to "Edit This Listing", edit_listing_path(@listing), class: "light-button"%>
      <% end %>
      <% if policy(@listing).destroy? %>
        <%= link_to "Delete This Listing", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class: "light-button"%>
      <% end %></div>
    </div>
 </div>
<div id="map" style="height: 600px; width: 600px"
     data-controller="listing_map"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

</div>
