<div class="show-listing-card">
  <h1><%= @listing.name %></h1>
  <p><%= @listing.description %></p>
  <p><%= @listing.category %></p>
  <p><%= @listing.price %></p>
  <p><%= @listing.rating %></p>
</div>
