<div class="show-container">
  <div class="column1">
    <div class='photos'>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% @listing.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index == 0 ? "active" : "" %>">
              <img class="d-block w-100 show-pix" src="<%= cl_image_path photo.key, alt: "Listing img"%>" alt="First slide">
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="px-3">
      <div class="text-container">
        <div class="show-listing-text">
          <div id ="listing-name">
            <h1><%= @listing.name.capitalize %></h1>
          </div>
          <div class='listing-description'>
            <p><%= @listing.description.capitalize %>
            <br><%= @listing.category %>
            <br><%= @listing.price %>€/day
            <br><%= @listing.rating %></p>
          </div>
        </div>
        <div class="show-listing-buttons">
          <div class= "line-height-3rem">
            <%= link_to "Book this Listing", new_listing_booking_path(@listing), class: "light-button" %>
            <% if policy(@listing).edit? %>
            <br>
            <%= link_to "Edit This Listing", edit_listing_path(@listing), class: "light-button"%>
            <% end %>
            <br>
            <% if policy(@listing).destroy? %>
            <%= link_to "Delete This Listing", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class: "light-button"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column2">
    <div data-controller="map"
        id="map"
        style="height: 100%; width: 80vh"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
