<h1 class = "title">Your bookings-</h1>
<% if @bookings != []%>
  <h2>Bookings you have made:</h2>
  <div class="bookings-container">
    <% @bookings.each_with_index do |booking, index| %>
      <% listing = Listing.find(booking.listing_id) %>
      <% host = User.find(listing.user_id) %>
        <div class ='booking-card'>
          <div id="carouselExampleControls<%= index %>" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <% listing.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                  <img class="d-block w-100 pix" src="<%= cl_image_path photo.key, alt: "Listing img", height:300, width:400, crop: :fit %>" alt="First slide">
                </div>
              <% end %>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= index %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= index %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <ul>
          <div class="booking-card-text">
              <div class="booking-card-top">
                <li class="booking-space"><i class="fa-solid fa-house-user"></i> <%= listing.name%></li>
                <li class="booking-host"><i class="fa-solid fa-person"></i> <%= host.name%></li>
              </div>
              <div class="booking-card-top">
                <li><i class="fa-solid fa-calendar-day"></i> <%= booking.date.strftime('%b %d, %Y') %> - <%= booking.end_date.strftime('%b %d, %Y') %></li>
                <li><i class="fa-solid fa-dollar-sign"></i> <%= booking.price %></li>
              </div>
              <div class="status">
                <% if booking.accepted? %>
                  <li><i class="fa-solid fa-champagne-glasses"></i> Congrats! Booking was accepted.</li>
                <% else %>
                  <li><i class="fa-solid fa-circle-pause"></i> Booking is pending host acceptance.</li>
                <% end %>
              </div>
              <div class="booking-buttons">
                <% if policy(booking).edit? %>
                  <%= link_to "Edit This Booking", edit_booking_path(booking), class:"btn edit-button" %>
                <% end %>
                <% if policy(booking).destroy? %>
                  <%= link_to "Delete this booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn delete-button"  %>
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
    <% end %>
<% if @received_bookings != [] %>
  <h2>Bookings at your hiding place:</h2>
  <div class="bookings-container">
    <% @received_bookings.each do |booking| %>
      <% user = User.find(booking.user_id) %>
      <% listing = Listing.find(booking.listing_id) %>
        <div class ='booking-card'>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% listing.photos.each_with_index do |photo, index| %>
                <div class="carousel-item pix <%= index == 0 ? "active" : "" %>">
                  <img class="d-block w-100 pix" src="<%= cl_image_path photo.key, alt: "Listing img", crop: :fill %>" alt="First slide">
                </div>
              <% end %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <ul>
          <div class="booking-card-text">
            <div class="booking-card-top">
              <li class="booking-space"><i class="fa-solid fa-house-user"></i> <%= listing.name%></li>
              <li><i class="fa-solid fa-person"></i> <%= user.name %></li>
            </div>
            <div class="booking-card-top">
              <li><i class="fa-solid fa-calendar-day"></i> <%= booking.date.strftime('%b %d, %Y') %> - <%= booking.end_date.strftime('%b %d, %Y') %></li>
              <li><i class="fa-solid fa-dollar-sign"></i> <%= booking.price %></li>
            </div>
            <div class="status">
              <% if booking.accepted? %>
                <li><i class="fa-solid fa-champagne-glasses"></i> Congrats! You have accepted.</li>
              <% else %>
                <div id="accept">
                <li class="btn btn-success"><%= link_to "Accept this booking", booking_path(booking, accepted: true), data: {turbo_method: :patch} %></li>
                </div>
              <% end %>
            </div>
          </div>
          </ul>
        </div>
      <% end %>
  </div>
<% end %>
