<h1>Your bookings:</h1>
<% @bookings.each do |booking| %>
<div class ='listing-card'>
  <ul>
    <li><%= booking.user_id%></li>
    <li><%= booking.listing_id%></li>
    <li><%= booking.date %> - <%= booking.end_date %></li>
    <li>$<%= booking.price %></li>
    <% if booking.accepted? %>
      <li>Congrats! Booking was accepted.</li>
    <% else %>
      <li>Booking is pending host acceptance.</li>
    <% end %>
    <% if policy(booking).destroy? %>
      <%= link_to "Delete this booking", @booking, method: :destroy %>
    <% end %>
  </ul>
</div>
<% end %>
